<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='access.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            rolesLoginToChoose($("#choose_role"))
        });
    </script>
    <div id="login_section" class="login-section" 
        style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
        Вход
        <label for="choose_role">
            Роль:
        </label>
        <select name="role" id="choose_role" class="select-for-login"></select>
        <label for="login_to_log_in" id="lable_login_to_log_in" style="display: none;">
            Логин:
        </label>
        <input
            id="login_to_log_in"
            type="text"
            class="password-to-log-in"
            placeholder="Введите логин"
            required
            style="display: none;"
        >
        <label for="password_to_log_in">
            Пароль:
        </label>
        <input
            id="password_to_log_in"
            type="password"
            class="password-to-log-in"
            placeholder="Введите пароль"
            required
        >
        <button onclick="logIn()" class="button-secondary secondary-clickable" style="width: 60%;">Войти</button>

        <p id="login_error"></p>
    </div>

    <script>
        $('#choose_role').on('change', function() {
            if ($(this).val() === 'admin') {
                $('#login_to_log_in').hide();
                $('#lable_login_to_log_in').hide();
            } else {
                $('#login_to_log_in').show();
                $('#lable_login_to_log_in').show();
            }
        });
    </script>


</body>
</html>