<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='content.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
        <div class="doyangs" id="doyangs">
            Площадки:
            <div class="'doyangs-list" id="doyangs_list"></div>
            <input type="text" id="DoYangInput" placeholder="Введите название площадки">
            <button class="add" onclick="addDoYang()">+</button>
        </div>
        <div class="categories" id="categories">
            Категории:
            <div class="'categories-list-list" id="categories_list"></div>
            <input type="text" id="CategoryInput" placeholder="Введите название категории">
            <button class="add" onclick="addCategory()">+</button>
        </div>
        <div class="categories" id="categories">
            Соперники:
            <input type="text" id="CompetitorInputName" placeholder="Введите имя соперника">
            <input type="text" id="CompetitorInputClub" placeholder="Введите клуб соперника">
            <button class="add" onclick="addCompetitor()">+</button>
        </div>

</body>
</html>