<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='content.js') }}"></script>
    <script src="{{ url_for('static', filename='match.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            showPage(0);
            updateDoYangs(function(){
                showPage(0);
            });
            updateCategories();
            updateCompetitors();
            updateMatches();
            updateDinamicContent();
            setInterval(function() {updateDinamicContent();}, 5000);
        });
    </script>

<!-- --------------------------------------------------------------- Path:-->
    <div class="path" id="path">
            <button class="button-primary back primary-clickable" onclick="backPage()">🔙</button>
    </div>

<!-- --------------------------------------------------------------- Main Content:-->
    <div class="doyangs" id="doyangs">
        Площадки:
        <div class="doyangs-list" id="doyangs_list"></div>
    </div>
    <div class="categories" id="categories">
        Категории:
        <div class="categories-list" id="categories_list"></div>
    </div>
    <div class="competitors" id="competitors">
        Сетка:
        <div class="grid-div" id="grid_div"></div>
        Соперники:
        <div class="competitors-list" id="competitors_list"></div>
    </div>
    
</body>
</html>