<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='content.js') }}"></script>
    <script src="{{ url_for('static', filename='match.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            showPage(0);
            updateDoYangs(function(){
                showPage(0);
            });
            updateCategories();
            updateCompetitors();
            updateMatches();
            updateDinamicContent();
            setInterval(function() {updateDinamicContent();}, 5000);
        });
    </script>

    <div class="path" id="path">
            <button class="button-primary back primary-clickable" onclick="backPage()">🔙</button>
    </div>
    <dialog id="chooseWinner" aria-modal="true" >
        <h2 id="heading">Победитель:</h2>
        <div display = "flex">
            <form method="dialog" style="display: grid;">
                <button class="" style="margin: 5px;" type="button" onclick="closeChooseWinner(0)">
                    <p id ="dialogCompetitor1"></p>
                </button>
                <button class="" style="margin: 5px;" type="button" onclick="closeChooseWinner(1)" >
                    <p id ="dialogCompetitor2"></p>
                </button>
            </form>
        </div>
    </dialog>

    <div class="doyangs" id="doyangs">
        Площадки:
        <div class="doyangs-list" id="doyangs_list"></div>
        <input type="text" id="DoYangInput" placeholder="Введите название площадки">
        <button class="button-secondary add add-doyang" onclick="addDoYang()">+</button>
    </div>
    <div class="categories" id="categories">
        Категории:
        <div class="categories-list" id="categories_list"></div>
        <button class="button-secondary add open-add-categories secondary-clickable" onclick="openAllCategories()">+</button>
    </div>
    <div class="competitors" id="competitors">
        <div class="grid-div" id="grid_div"></div>
        Соперники:
        <div class="competitors-list" id="competitors_list"></div>
        <button class="button-secondary create secondary-clickable" onclick="createGrid()" id="createGrid">Создать сетку</button>
    </div>
    <di class="add-categories-screen" id="add_categories">
        <!-- <div id="choosed_categories"></div> -->
        <button class="button-primary add add-categories primary-clickable" onclick="addDoYangToCategories()">Добавить</button> 
        <button class="button-primary add add-categories primary-clickable" onclick="showPage(1)">Отмена</button> 
        <div class="categories-list" id="categories_list_all"></div>
    </div>

    

</body>
</html>