<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='content.js') }}"></script>
    <script src="{{ url_for('static', filename='match.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='judges.js') }}"></script>

</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            current_doyang = 1
            current_page = 1
            showPage(1);
            updateDinamicContent();
            setInterval(function() {updateDinamicContent();}, 5000)
        });
    </script>  
    Экран президента площадки 1:
    <div class="path" id="path">
    </div>
    <div class="judges-table" id="judges_table"></div>
    <div class="categories" id="categories">
        Категории:
        <div class="categories-list" id="categories_list"></div>
    </div>
    <div class="competitors" id="competitors">
        <div class="grid-div" id="grid_div"></div>
        Соперники:
        <div class="competitors-list" id="competitors_list"></div>
    </div>

    <div class="judges" id="judges">
        Судьи:
        <div class="judges-list" id="judges_list"></div>
        <input type="text" id="judge_intput_login" placeholder="Логин судьи">
        <button class="add" onclick="addJudge()">+</button>
    </div>

    <dialog id="chooseWinner" aria-modal="true" >
        <h2 id="heading">Победитель:</h2>
        <div display = "flex">
            <form method="dialog" style="display: grid;">
                <button class="" style="margin: 5px;" type="button" onclick="closeChooseWinner(0)">
                    <p id ="dialogCompetitor1"></p>
                </button>
                <button class="" style="margin: 5px;" type="button" onclick="closeChooseWinner(1)" >
                    <p id ="dialogCompetitor2"></p>
                </button>
            </form>
        </div>
    </dialog>


</body>
</html>