<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_tkd_counter.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='judges.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='access.js') }}"></script>
    <script src="{{ url_for('static', filename='match.js') }}"></script>
    <script src="/static/socket.io.min.js"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            checkAccess("pj");
            const params = getUrlParams();
            current_doyang = params.doyang_id;
            getPlayingMatch(current_doyang);
            const socket = io();
            socket.on("connect", function () {
                socket.emit("join_doyang", {
                    doyang_id: current_doyang
                });
            });
            socket.on("update_scores_get", function(data) {
                countWinner(data.winners);
                judgesContentPublic(data.ids, data.winners);
            });
            socket.on("new_is_started", function() {
                window.location.reload();
            });
            updateJudges();
        });
        window.addEventListener("pageshow", function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>
    <script>
        document.addEventListener("fullscreenchange", function(){
            public_full_screen = !(public_full_screen)
            console.log(public_full_screen)
            if (public_full_screen){
                $('#full_screen_button').text('Свернуть')
            }
            else{
                $('#full_screen_button').text('На весь экран')  
            }
        });
    </script>
    <table class="table-row tkd-counter-table" id="table_show_match_public">
        <thead>
            <tr>
                <th colspan="6">
                    <div class="score red" id="name_1_match"></div>
                </th>
                <th colspan="6">
                    <div class="score blue" id="name_2_match"></div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button class="button-primary primary-clickable" style="width: 100%;" id="full_screen_button" 
        onclick="matchFullScreen()">
        На весь экран
    </button>
</body>
</html>