<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwon-Do</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_tkd_counter.css') }}">
    <script src="{{ url_for('static', filename='access.js') }}"></script>
    <script src="{{ url_for('static', filename='tkd-counter.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <button class="button-primary primary-clickable menu-button" id="menuToggle" onclick="openMenu()">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <aside class="side-menu" id="sideMenu">
        <button class="button-primary primary-clickable reboot" onclick="cleenScore()">
            Сбросить
        </button>
    </aside> 

    <div class="overlay" id="overlay"></div>

    <table class="table-row tkd-counter-table">
        <thead >
            <tr>
                <th>
                    <div class="score red" id="score1">24</div>
                </th>
                <th>
                    <div class="score blue" id="score2">24</div>
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                <button class="button-score red" onclick="updateScore(1, -24)">0</button>
            </td>
            <td>
                <button class="button-score blue" onclick="updateScore(2, -24)">0</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="button-score red" onclick="updateScore(1, -0.5)">-0.5</button>
            </td>
            <td>
                <button class="button-score blue" onclick="updateScore(2, -0.5)">-0.5</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="button-score red" onclick="updateScore(1, -0.3)">-0.3</button>
            </td>
            <td>
                <button class="button-score blue" onclick="updateScore(2, -0.3)">-0.3</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class ="cancel-score" onclick="returnScore(1)">↩</button>
            </td>
            <td>
                <button class ="cancel-score" onclick="returnScore(2)">↩</button>
            </td>
        </tr>
    </table>
</body>
</html>